* {
  
  box-sizing: border-box;
}

.header {
  background-color: #1a1a1a;
  height: 100px;
}

.description {
  float: left;
  width: 20%;
  padding-top: 1.5%;
}

.description li {
  font-size: 17px;
  list-style-type: none;
  color: #00e64d;
}

.menus {
  float: left;
  color: white;
  width: 40%;
  text-align: center;
  padding-top: 3%;
}

.menus li {
  display: inline-block;
  list-style-type: none;
  font-size: 17PX;
  margin: 2%;
  color: #999999;
}